.button {
    background-color:rgb(210, 139, 228);
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
     margin: 4px 2px; 
    font-size: 200%;
     margin-top: 5px;
     margin-left: 600px;
     margin-right: 600px;
     gap: 20px;
     border-radius: 1px;
     width: 500px;
  }
  .heading {
      text-align: center;
      padding-top: 20%;
      font-size: 400%;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      color: antiquewhite;
  }


@media (max-width: 700px) {

  .button {
     font-size: 10px;
    width: 100px;
    margin-left: 30%;
  }
   .heading {
       font-size: 20px;
   } 
}